<div class="Navbar">
    <picture class="logo">
        <!-- img -->
    </picture>

    <nav class="nav">
        <a class="nav__link" href="/tasks">home</a>
        <a class="nav__link" href="/tasks/create">create</a>
        <a class="nav__link" href="#">link</a>
    </nav>
</div>