@use './variables.scss' as *;

.Navbar {
    background-color: $color-grey;
    border-bottom: 2px solid $color-complementary;

    padding: 0.5rem 0;

    position: fixed;
    width: 100%;

    .CONTAINER {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & .logo {
        display: flex;
        align-items: center;
        gap: 0.2rem;

        &__picture {
            width: 50px;
            height: 50px;

            &__img {
                width: 100%;
            }
        }

        &__text {
            font-weight: bold;
            font-size: 1.1rem;
            color: $color-complementary;
        }
    }

    & .nav {
        &__link {
            text-transform: uppercase;
            font-weight: bold;
            color: $color-primary;


            &:nth-child(1) {
                margin-right: 0.5rem;
            }
        }
    }
}

.App {
    & .form {
        padding-top: 6rem;
        margin-bottom: 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        &__heading {
            color: $color-primary;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.4rem;

            width: 90%;

            &__input {
                width: 100%;
                text-align: center;
                font-size: 1rem;
                outline: none;
                border: 2px solid $color-grey-dark;
                padding: 0.5rem 0;

                &:focus {
                    box-shadow: 0 0 5px 0 $color-complementary;
                }
            }

            &__label {
                width: 100%;
                text-align: center;
                font-size: 0.8rem;
                font-weight: bold;
            }
        }

        &__btn {
            margin-top: 0.6rem;

            @include button;
        }
    }

    & .tasks {
        margin-bottom: 5rem;

        &__task {
            display: flex;
            padding: 0.7rem 0.5rem;
            margin-bottom: 1rem;
            box-shadow: 3px 3px 8px 0 $color-black;

            &__picture {
                &__icon {
                    &.fa-hourglass-half {}

                    &.fa-check {
                        color: #0ebe0e;
                    }
                }
            }

            &__text {
                font-weight: bold;
                color: $color-primary;
                margin: 0 0.5rem;
            }

            &__buttons {
                margin-left: auto;
                display: flex;
                gap: 0.4rem;

                &__button {
                    background-color: transparent;
                    border: none;
                    font-size: 1rem;

                    &__icon {
                        &.fa-pen-to-square {
                            color: #125591
                        }

                        &.fa-trash {
                            color: #911212
                        }
                    }
                }
            }

        }

        & .info {
            color: $color-primary;
        }

    }
}

#completed .App .tasks {
    padding-top: 6rem;
}

body#task {
    & section.Task {
        padding-top: 6rem;

        & .task {
            box-shadow: 2px 2px 5px 2px $color-grey-dark;
            padding: 1rem 0.5rem;

            &__heading {
                color: $color-primary;
                text-transform: capitalize;
                text-align: center;
                font-size: 1.5rem;
                margin-bottom: 1rem;
            }

            &__info {
                &__item {
                    display: flex;
                    justify-content: space-between;

                    margin-bottom: 0.5rem;

                    &__name {
                        color: $color-complementary;
                        text-transform: capitalize;
                    }

                    &__value {
                        color: $color-white;
                    }
                }
            }

            &__form {
                margin-top: 3rem;

                &__item {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 0.6rem;

                    &:nth-child(2) {
                        align-items: flex-start;
                    }

                    &__label {
                        color: $color-primary;
                        text-transform: capitalize;
                        margin-bottom: 0.3rem;
                    }

                    &__input {}

                    &__input[type='text'] {
                        padding: 0.5rem 1rem;
                        background-color: $color-grey-dark;
                        color: $color-white;
                        font-size: 1rem;
                        outline: none;
                        border: none;

                        &:focus {
                            box-shadow: 0 0 2px 0 $color-complementary;
                        }
                    }

                    &__input[type='checkbox'] {
                        color: red;
                    }
                }

                &__btn {
                    @include button;
                    display: block;
                    margin: 2rem auto 0;
                }
            }
        }
    }
}

.Footer {
    background-color: $color-grey-dark;
    padding: 1rem 0;

    position: fixed;
    bottom: 0;
    width: 100%;

    & .text {
        text-align: center;
        color: $color-white;
    }
}

@media screen and (max-height: $mq-small) {}

@media screen and (orientation: landscape) and (max-height: $mq-small) {}

@media screen and (min-width: $mq-big) {
    .App {
        & .form {
            &__item {
                &__input {
                    width: 50%;
                }

                &__label {
                    font-size: 1rem;
                }
            }

            &__btn {
                width: 140px;
                height: 40px;
                transition: all 0.4s ease-in;

                &:hover {
                    color: $color-grey;
                    background-color: $color-complementary;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }

        .tasks {

            &__task {
                &__buttons {
                    &__button {
                        cursor: pointer;
                        font-size: 1.2rem;
                        // transition: all 0.4s ease-in;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}